@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
html,body{
  height: 100%;
  width: 100%;
}
.container{
    height: 100vh;
    background-color: #EEEEEE;
    padding: 1px;
}
.todo-app{
    max-width: 540px ;
    background-color: #fff;
    border-radius: 20px;
    margin: 50px auto;
    padding: 50px;
}
.todo-app h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.text-add-box{
    width:100%;
    height: 40px;
    background-color: rgb(185, 185, 185);
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.text-add-box input{
    width: 100%;
    /* flex: 1; */
    background-color: transparent;
    border: none;
    outline: none;
    color: #000;
    font-weight: 21px;
    padding: 10px;
}
.add-btn{
    border: none;
    padding: 5px 45px;
    border-radius: 30px;
    background-color: #00ADB5;
    font-size: 18px;
    cursor: pointer;
}
ul li{
    user-select: none;
    list-style: none;
    font-size: 16px;
    padding: 8px 30px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    top: 11px;
    left: 2px;
    height: 20px;
    width: 20px;
    background-image: url("./assets/images/unchecked.png");
    background-position: center;
    background-size: cover;
}

ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("./assets/images/checked.png");
}
ul li span{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    width: 40px;
    text-align: center; 
    border-radius: 50%;
    font-size: 21px;
    line-height: 40px;
}
ul li span:hover{
    background-color: #393E46;
}
@media (width<400px) {
    .add-btn{
    padding: 5px 15px;
    font-size: 18px;
    }
}